.footer {
    width: 100%;
    background-color: var(--bkg2);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/* Ajusta a logo */
.footer img {
    height: auto;
    width: 8rem;
}

/* Estiliza a navegação */
.nav {
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: var(--principal);
}

/* Ícones sociais */
.socialLinks {
    display: flex;
    gap: 0.8rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav {
        flex-direction: column;
    }

    .socialLinks {
        justify-content: center;
    }
}
