.footer {
    width: 100%;
    background-color: var(--bkg2);
    padding: 4rem;
    display: flex;
    justify-content: space-between;

    & img {
        width: 143.45px;
        height: auto;
    }

    & .copy {
        position: absolute;
        right: 1rem;
    }

    & .divlogo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & nav {
            display: flex;
            gap: 0.5rem;

            & span {
                color: var(--principal);
    
            }

            & a {
                gap: 1rem;
                text-decoration: none;
                color: white;
                transition: color 0.3s ease;
            }

            & a:hover {
                color: var(--principal);
            }
        }
    }

    & .div1 {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;

        height: 245px;

        
        


        & div {
            display: flex;
            flex-direction: column;

            & strong {
                font-weight: 350;
                color: #D4D5D9;
            }
            
            & span {
                font-size: 16px;
                
            }
        }
    }

    & .div2 {
        display: flex;
        gap: 4rem;
        
        & .div1 {
            justify-content: flex-end;
        }
    }
    
}

/*1250*/
@media (max-width: 1250px) {
    .footer {

        & .copy {
            transform: translateY(10rem);
        }

        & .div2 {
            flex-direction: column;
            gap: 0;
            height: 25rem;
        }
    }
}

@media (max-width: 1000px) {
    .footer {
        flex-direction: column;

        & .copy {
            transform: translateY(0rem);
        }

        & .divlogo {
            flex-direction: row;
            align-items: center;
        }
    }
}

@media (max-width: 580px) {
    .footer {
        flex-direction: column;
        padding: 2rem;
        gap: 4rem;

        font-size: 13px;

        & .div2 .div1 {
            height: fit-content;
            gap: 2rem;
            & span {
                font-size: 14px;
            }
        }

        & .copy {
            position: sticky;
        }

        & .divlogo {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        & .div1 {
            height: fit-content;
        }

        & .div2 {
            height: fit-content;
        }
    }
}