* {
    margin: 0;
    padding: 0;
}

@keyframes moverParaBaixo {
    0% {
        bottom: 10%; /* posição inicial */
    }
    50% {
        bottom: 12%; /* posição para onde a seta vai se mover */
    }
    100% {
        bottom: 10%; /* posição para onde a seta vai se mover */
    }
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    & .logo {
        filter: invert(1);
        background-color: transparent;

        position: absolute;
        width: 25rem;
        height: auto;
        

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    & .seta {
        position: absolute;

        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        animation: moverParaBaixo 2s infinite ease-in-out;
        
    }


    & .slideContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;

        & .slider {
            width: 100%;
            height: 100%;
            display: flex;
            transition: all 0.5s;
            
    
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                flex-shrink: 0;
            }
        }
    
        & .slider::before {
            content: '';
            width: 400%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
    
            backdrop-filter: blur(4px);
            background: linear-gradient(0deg, #0F0F0F 0%, #0F0F0F 20%, #0f0f0f57 100%);
        }

    }

    

    
}